# World Dashboard

To run in the app environment

```
export FLASK_APP=app/__init__.py
from app.models import *
```

In [186]:
%load_ext autoreload
import app
from app.models import *
from app.services import *
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [189]:
n_days = 365
%autoreload
#world = World(lat, lon, pop)
world = World()
res = pd.DataFrame(run_world(world, n_days))
res.columns = ["Day", "Population"]

got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
got a weapon!
Day 304 APOCALPYSE!

In [150]:
res

     Day  Population
0      1         500
1      2         500
2      3         500
3      4         500
4      5         500
5      6         498
6      7         486
7      8         472
8      9         461
9     10         442
10    11         414
11    12         386
12    13         361
13    14         332
14    15         302
15    16         281
16    17         256
17    18         227
18    19         205
19    20         186
20    21         169
21    22         152
22    23         139
23    24         134
24    25         127
25    26         120
26    27         117
27    28         114
28    29         109
29    30         106
..   ...         ...
293  294           2
294  295           2
295  296           2
296  297           2
297  298           2
298  299           2
299  300           2
300  301           2
301  302           2
302  303           2
303  304           2
304  305           2
305  306           2
306  307           2
307  308           2
308  309           2
309  310           2
310  311           2
311  312           2
312  313           2
313  314           2
314  315           2
315  316           2
316  317           2
317  318           2
318  319           2
319  320           2
320  321           2
321  322           1
322  323           1

[323 rows x 2 columns]

In [183]:
%autoreload
from app.models import *
d = Dagger()
isinstance(d, Weapon)

True

In [158]:
type(d) is Dagger

True

In [176]:
type(d) is Weapon

False

In [178]:
%autoreload
isinstance(d, Weapon)

False

In [175]:
list(type(d).__bases__)

[app.models.Weapon]